* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Source Code Pro', monospace;

    box-sizing: border-box;
}

:root{
    --background1: linear-gradient(to left, hsl(218, 100%, 17%), hsl(215, 96%, 32%));
    --text1: hsl(214, 15%, 91%);

    --typewriterSpeed: 6.5s;

    font-size: 62.5%;
}

main{
    background: var(--background1);
}

section{
    height: 100vh;

    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.intro{
    /* background: linear-gradient(to left, hsl(218, 100%, 17%), hsl(215, 96%, 32%)); */
    color: var(--text1);

}





/* Header */

header{
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    height: 8rem;

    z-index: 3;

    box-sizing: border-box;

    display: flex;
    justify-content: flex-end;
    align-items: center;


}

.about{

}

header > ul {
    display: flex;
    flex-direction: row;

    color: white;

    width: 40%;
    justify-content: space-around;

    box-sizing: border-box;
    border-bottom: 3px solid white;

    padding-bottom: 15px;

    margin-right: 5%;
}

li{
    text-decoration: none;
    list-style: none;
    font-size: 2rem;
    font-weight: 400;

    position: relative;
}

li::after{
    content: "";
    height: 2px;
    width: 100%;
    background: white;

    position: absolute;
    bottom: -17px;
    left: 0;
    opacity: 0;

    transition: opacity .4s, bottom .5s ease-out;
}

li:hover::after{
    content: "";
    height: 2px;
    width: 100%;
    background: white;

    position: absolute;
    bottom: 30px;
    left: 0;
    opacity: 1;

}


a {
    text-decoration: none;
    list-style: none;
    color: white;
}


/* header::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 1rem;
    background: transparent;

    box-sizing: border-box;

    border-top: 6rem solid black;
    border-right: 6rem solid whitesmoke;
} */

/* About */

.background {
    /* background: linear-gradient(to left, hsl(218, 100%, 17%), hsl(215, 96%, 32%)); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: var(--text1);
    
}

.background > h1 {
    font-size: 10rem;

    font-weight: 600;

    margin-left: 10vw;
    margin-bottom: 3vh;
}

.background > p {

    font-size: 2.5rem;
    font-weight: 400;

    margin-left: 8vw;
    margin-bottom: 0vh;
}


/* Projects */

.projects{
    /* background: #3185FC; */
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: fit-content;


}

.projects > h2 {
    font-size: 5rem;
    margin-bottom: 5rem;
    margin-top: 2rem;

    font-weight: 400;
}

.projects_parent1{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.projects_parent1 > div:nth-child(1){
    margin-top: 8rem;
}


.project{
    background: transparent;
    height: 30rem;

    display: flex;
    justify-content: center;

    margin-bottom: 8rem;

    cursor: pointer;

    opacity: 1;



}

.projects_parent1{
    width: 1024px;
}

.left_wrapper{
    margin-right: 10rem;
}

.right_wrapper{
    margin-left: 10rem;
}

.project:hover .project_right{
    background-color: rgba(100, 148, 237, 0.527)
}

/* .project:hover{
} */

.project:hover .project_left::after{
    content: "Click for live";
}

.project_left{
    aspect-ratio: 1;
    height: 100%;
    /* background: chocolate; */

    background-size: cover;
    background-position: center;

    margin-right: 1rem;
    position: relative;
}


.memory{
    background-image: url("./memory.jpg");
}

.invoice{
    background-image: url("./invoice3.jpg");
}

.landing{
    background-image: url("./landing.jpg");
}

.helmgart{
    background-image: url("./helmgart.jpg");
}

.location{
    background-image: url("./location2.jpg");
}

.github{
    background-image: url("./github_avatar.png");
}

.project_left::after{
    position: absolute;
    content: attr(data-title);

    background: rgba(0, 0, 0, 0.65);

    width: 100%;
    height: 30px;

    left: 0;
    bottom: 20%;

    color: var(--text1);
    font-size: 2rem;
    text-align: center;
}

.project_right {
    aspect-ratio: 2 / 1;

    background-color: cornflowerblue;
    height: 100%;

    transition: background-color .4s;
}

.right_top{
    width: 90%;
    height: 70%;
    margin: auto;

    text-align: center;

    font-size: 2rem;

    padding: 5px;
    padding-top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.466);

    position: relative;
    text-align: center;



}

.right_bottom{
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;

    font-size: 2rem;
}


.projects_text{
    display: inline-block;
    margin-top: 5rem;
    font-size: 2rem;
    text-decoration: none;
    position: relative;
    cursor: pointer;

    border: currentColor 0.125em solid;

    padding: 0.25em 1em;
    border-radius: 0.25em;


    text-shadow:
    0 0 0.125em rgb(175, 175, 175),
    0 0 0.125em currentColor;

    box-shadow: 
    inset 0 0 0.5em 0 whitesmoke,
    0 0 0.5em 0 whitesmoke;
    
}

.projects_text::before {
    content: "";
    position: absolute;

    background: whitesmoke;

    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: 
    perspective(1em) 
    rotateX(40deg)
    scale(1, 0.35);

    filter: blur(1em);
    opacity: 0.1;

    transition: opacity .2s;
}

.projects_text:hover:before {
    opacity: 0.3;
}

.contact{
    flex-direction: column;
    justify-content: center;
}


.contact_text{
    color: white;
    font-size: 3rem;
    display: block;
    margin-top: 2rem;
    text-align: center;

    font-weight: 300;
}

.contact_text_parent{
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.contact_center{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.contact_title{
    font-size: 5rem;
    font-weight: 400;

    margin: auto;

    color: white;
}

/* ANIMATIONS */

@keyframes slide-in {
	0% {
		transform: translateX(-99px);
        opacity: 0;
	}
    10%{
        opacity: 0.1;
    }
    80%{
        opacity: 1;
    }
    99%{
        /* transform: translateX(0); */
    }
    100% {
        opacity: 1;
	}
}

@keyframes slide-in2 {
	0% {
		transform: translateX(100px);
        opacity: 0;
	}
    10%{
        opacity: 0.1;
    }
    80%{
        opacity: 1;
    }
    99%{
        /* transform: translateX(0); */
    }
    100% {
        opacity: 1;
	}
}

@keyframes visible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .project{
        opacity: 0;
    }

    .invisible{
        opacity: 0;
    }

    .visible-animation{
        animation: visible 1.4s cubic-bezier(.24,.92,.51,1.1) 0s 1 forwards;
    }

    .slide-animation {
      animation: slide-in 1s cubic-bezier(.24,.92,.51,1.1) 0s 1 forwards;
    }

    .slide-animation2 {
        animation: slide-in2 1s cubic-bezier(.24,.92,.51,1.1) 0s 1 forwards;
      }
  }


  @media screen and (max-width: 1025px) {
      header{
          justify-content: center;
      }

      header>ul{
          margin: 0;
      }

      .background{
          align-items: center;
      }

      .background > h1 {
          margin: 0;
          margin-bottom: 4rem;
      }

      .background > p {
          margin: 0;

          width: 80%;
          text-align: center;
      }

      .projects_parent1{
          width: 100%;
          justify-content: center;
          align-items: center;
      }

      .left_wrapper{
          margin: 0;
      }

      .right_wrapper{
          margin: 0;
      }

      .project_wrapper{
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .project{
          width: 85%;
          aspect-ratio: 3 / 1;
          height: auto;

      }
   }


   @media screen and (max-width: 875px) {

    .right_top{
        font-size: 2vw;
    }

    .right_bottom{
        font-size: 2.5vw;
    }

    .project_left::after{
        font-size: 2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects > h2{
        font-size: 6vw;
    }

    .contact_title{
        font-size: 6vw;
    }

    .contact_text{
        font-size: 5vw;
    }
   }


   @media screen and (max-width: 500px) { 
    .project{
        width: 100%;
        aspect-ratio: 3 / 1;
    }

    .right_top{
        font-size: 2.5vw;
    }

    .right_bottom{
        font-size: 3vw;
    }

    .project_left::after{
        font-size: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header  > ul {
        width: 70%;
    }

   }


   @media screen and (max-width: 375px) {
       header > ul {
           width: 90%;
       }

       header > h1 {
           font-size: 5vw;
       }
   }